/* Utilities */
.mt-100 {
    margin-top: 100px;
}
.container {
    width: 1000px;
    height: 80vh;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 25px;
}
.wrap {
    margin: 0 auto;
    width: 900px;
}
.d-block {
    display: block;
}
.message {
    font-size: 1.5rem;
    color: lightseagreen;
    display: none;
}

/* Generics */
body {
    background-image: url('bologna.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
hr {
    display: none;
}
label {
    padding-bottom: 6px;
    padding-left: 5px;
}
input, select, button {
    height: 50px;
    border-radius: 8px;
    border: 1px solid grey;
}

/* Ticket Price */
p.printed-price {
    font-size: 1.8rem;
}
.price-style {
    font-size: 3rem;
    padding-left: 10px;
    color: lightseagreen;
}
#buy-ticket {
    margin-top: 15px;
    display: none;
}

/* focus */
:focus-visible {
    outline: none;
}